@import "_colors_";

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: $colorHeader;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .btn {
        font-size: 1.1em;
        color: white;
        text-transform: uppercase;
        font-family: monospace;
        padding: 1.3em 5em;
        background-color: $button;
        border-radius: 3px;
    }

    .fa-search {
        position: absolute;
        right: 15px;
        top: 15px;
        color: white;
    }

    .fa-chevron-down {
        position: absolute;
        right: 15px;
        bottom: 15px;
        color: white;
    }

    nav {
        width: 100%;

        ul {
            width: 40%;
            list-style: none;
            padding: 0;
            margin: 0.5em auto 0;
            display: flex;
            justify-content: space-around;
            font-family: sans-serif;
            font-size: 1.7em;

            li {
                padding: 0 8px;

                a {
                    font-family: Arial;
                    font-weight: 100;
                    color: $linksNav;
                }
            }
        }
    }

    .brand {
        margin: 16em;
        text-align: center;

        .slogan {
            max-width: 550px;
            display: flex;
            margin-bottom: 1.5em;
            text-align: center;
            font-size: 2.5em;
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 0.5em;
            text-align: center;
            font-size: 4em;
        }
    }
}

main {
    img {
        width: 200px;
        height: 250px;
    }

    h2 {
        text-align: center;
        font-size: 3em;
        font-family: fantasy;
        margin-top: 1.8em;
    }

    ul {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1390px;

        li {
            margin-bottom: 1em;
            list-style: none;
            box-shadow: 0 5px 20px lightblue;
            position: relative;

            h3 {
                font-family: monospace;
                font-weight: bolder;
                font-size: 1.8em;
                padding: 0.5em 0 0 0.5em;
                text-transform: uppercase;

                &.buy {
                    color: $buy;
                }

                &.on-sale {
                    color: $onSale;
                }

                &.sold-out {
                    color: $soldOut;
                }
            }

            .description {
                color: #778899;
                display: block;
                padding-left: 0.5em;
            }

            .price {
                color: #2F4F4F;
                display: flex;
                padding: 0 0 0.5em 0.5em;
            }
        }
    }
}

footer {
    background-color: $colorFooter;
    margin-top: 5em;

    nav {
        h4 {
            color: white;
            font-size: 1.5em;
            margin-bottom: 1em;
        }
        padding: 3em 0 1em;
        margin: auto;
        max-width: 1300px;
        display: flex;
        justify-content: space-around;

        ul {
            padding: 0;

            li {
                list-style: none;

                span.fa {
                    padding-right: 10px;
                }
            }
        }

        a {
            color: $linksNav;
            line-height: 2.5em;
        }

        input {
            border-radius: 7px;
            border: 3px solid $linksNav;
            padding: 0.2em;
        }
    }
}

a {
    text-decoration: none;
}

button {
    border-radius: 7px;
    border: 2px solid $linksNav;
    padding: 0.2em;
    background: transparent;
    color: white;
}
